.shell {
  display: flex;
  min-height: 100vh;
  background: #f8fafc;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: calc(100% - 260px); 
  margin-left: 80px; 
}

.content {
  flex: 1;
  padding: 24px;
  overflow-y: auto;
  background: #f8fafc;
}